.float-left {
  float: left;
}
.float-right {
  float: right;
}
.no-display {
  display: none!important;
}
.hidden {
  visibility: hidden;
}
.inline-block {
  display: inline-block;
}
.max-image {
  max-width: 100%;
}
.border-radius {
  border-radius: 5px;
}
.full-width {
  width: 100%;
}
.fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}
a {
  color: #e50709;
}
a:hover {
  color: #6a0304;
  text-decoration: underline;
}
li a.active {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
@media (max-width: 768px) {
  input[type="text"],
  input[type="password"],
  input[type="textarea"] {
    width: 100%;
  }
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/ttwNtsRpgsxVmgGGmiUOEltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/LWCjsQkB6EMdfHrEVqA1KVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/xozscpT2726on7jbcb_pAltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.header {
  padding: 10px 15px;
}
@media (max-width: 992px) {
  .header .logo a {
    display: block;
    text-align: center;
  }
  .header .site-name {
    display: none;
  }
  .header .social-links {
    padding: 0 !important;
    height: auto!important;
  }
  .header .social-links .link-wrapper {
    width: 100%;
  }
}
.header .logo {
  font-size: 20px;
}
.header .logo img {
  max-width: 100%;
  max-height: 54px;
}
.header .social-links {
  height: 54px;
  padding: 10px;
}
.header .social-links a {
  color: #e50709;
  font-size: 32px;
  line-height: 1;
}
.header .social-links a:hover {
  color: #6a0304;
}
.header .social-links .link-wrapper {
  margin: 0 auto;
  width: 60%;
}
.header .social-links .link-wrapper > div {
  width: 33.3333333%;
  float: left;
  text-align: center;
}
.header .search-form {
  margin-bottom: 0;
}
.header .search-form .container-inline div {
  display: inline-block;
}
.header .search-form .container-inline label {
  display: none;
}
.header .search-form .container-inline .form-item-keys {
  width: 90%;
  position: relative;
}
.header .search-form .container-inline .form-item-keys:after {
  content: "\f002";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.header .search-form .container-inline .form-item-keys input.form-text {
  width: 100%;
  border-color: #9b0506;
  border-left-style: solid;
  border-top-style: solid;
}
.header .search-form input.form-submit {
  display: inline-block;
  width: 8%;
  left: -8%;
  position: relative;
  opacity: 0;
  border-radius: 5px;
  border-color: #9b0506;
  background-color: #9b0506;
  color: #eeeeee;
  border: 2px solid;
  padding: 2px 6px;
  font-size: 16px;
}
#nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 120;
}
#nav.fixed .site-name {
  display: block;
  float: left;
  text-transform: uppercase;
  font-weight: 700;
}
#nav.fixed .nav-bar .main-menu {
  float: right;
}
#nav {
  margin-bottom: 10px;
  min-height: 1px;
  color: #eeeeee;
  background-color: #333333;
  border-top: 2px solid #9b0506;
}
@media (max-width: 768px) {
  #nav {
    display: none;
  }
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav a {
  text-decoration: none;
  color: #eeeeee;
}
#nav .site-name {
  display: none;
}
#nav .nav-bar {
  font-size: 20px;
}
#nav .nav-bar .main-menu > .menu {
  height: 28px;
}
#nav .nav-bar .main-menu > .menu li a.active {
  color: inherit;
}
#nav .nav-bar .main-menu > .menu > li {
  float: left;
  padding: 0 15px;
}
#nav .nav-bar .main-menu > .menu > li:hover {
  background-color: #555555;
}
#nav .nav-bar .main-menu > .menu li.expanded {
  position: relative;
}
#nav .nav-bar .main-menu > .menu li.expanded .menu {
  display: none;
  position: absolute;
  font-size: 14px;
  width: 100%;
  z-index: 101;
  left: 0;
  background-color: #666666;
}
#nav .nav-bar .main-menu > .menu li.expanded .menu:hover {
  background-color: #888888;
}
#nav .nav-bar .main-menu > .menu li.expanded .menu > li {
  border-top: #eeeeee 1px solid;
  line-height: 1.5;
  padding: 3px 0 3px 15px;
}
#nav .nav-bar .main-menu > .menu li.expanded .menu > li:first-child {
  border-top: none;
}
#nav .nav-bar .main-menu > .menu li.expanded .menu > li:hover {
  text-decoration: underline;
}
#nav .nav-bar .main-menu > .menu li.expanded.over .menu {
  display: block;
}
.left-sidebar .block {
  padding: 10px;
  background: transparent;
}
.left-sidebar .block h3 {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 3px;
  margin-bottom: 0;
  line-height: 1.5;
  border-bottom: 2px solid #333333;
}
.left-sidebar .block .content {
  padding: 5px;
}
.content.content-wrapper {
  padding-top: 10px;
}
footer.footer {
  background-color: #333333;
}
footer.footer ul.menu,
footer.footer li.leaf,
footer.footer li.expanded {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.footer li.expanded .menu {
  padding-left: 10px;
}
footer.footer .foot.container {
  background-color: transparent;
  color: #d0d0d0;
}
footer.footer a {
  color: inherit;
}
footer.message {
  background-color: #666666;
  border-top: 2px solid #9b0506;
}
.slideshow {
  margin-bottom: 10px;
}
.slideshow .slide-controller {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.slideshow .slide-controller span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #eeeeee;
  border-radius: 50%;
  color: #f82729;
  text-align: center;
  cursor: pointer;
}
.slideshow .swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.slideshow .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.slideshow .swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.tri {
  overflow: hidden;
}
.tri > div {
  height: 115px;
  padding-left: 100px;
  position: relative;
}
.tri > div span {
  display: block;
  width: 100px;
  height: 115px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/guaranttee.png") 0 0 scroll no-repeat;
}
.tri > div p {
  position: absolute;
  left: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tri > div.speed {
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.tri > div.quality {
  -webkit-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.tri > div.service {
  -webkit-transform: translateX(-300%);
  -o-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  transform: translateX(-300%);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.tri > div.speed.inview,
.tri > div.quality.inview,
.tri > div.service.inview {
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.tri > div.quality span {
  background-position: -100px 0;
}
.tri > div.service span {
  background-position: -200px 0;
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav .mobile-main-menu {
  color: #eeeeee;
  margin-bottom: 10px;
}
.mobile-nav .mobile-main-menu .navbar-header {
  background-color: #333333;
}
.mobile-nav .mobile-main-menu .navbar-header .navbar-brand {
  color: inherit;
}
.mobile-nav .mobile-main-menu .navbar-header .navbar-toggle {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mobile-nav .mobile-main-menu .navbar-header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}
.mobile-nav .mobile-main-menu .navbar-header .navbar-toggle.collpased {
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mobile-nav .mobile-main-menu .navbar-header .navbar-toggle .icon-bar {
  background-color: #eeeeee;
}
.mobile-nav .mobile-main-menu .menu {
  background-color: #4d4d4d;
  margin: 0;
  padding: 0;
}
.mobile-nav .mobile-main-menu .menu > li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}
.mobile-nav .mobile-main-menu .menu > li a {
  color: inherit;
}
.mobile-nav .mobile-main-menu .menu > li.expanded ul.menu {
  padding-left: 15px;
}
.mobile-nav .mobile-main-menu .menu > li.expanded ul.menu a {
  font-size: 16px;
}
.mobile-nav .mobile-main-menu > .menu {
  display: none;
  padding: 10px 15px;
}
.mobile-nav .mobile-main-menu > .menu > .menu li.expanded > a {
  display: block;
}
.mobile-nav .mobile-main-menu > .menu > .menu li.expanded > a::after {
  content: "\f0d7";
  margin-left: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}
.mobile-nav .mobile-main-menu > .menu > .menu li.expanded > .menu {
  display: none;
}
