@import url("variables.less");
@import url("mixin.less");
@import url("mixin.less");
@import url("opensans.less");


.main-page-landing {
	width:100%;
	background:url(../images/landing.jpg) 0 0 no-repeat;
	background-size:cover;
	text-align: center;
	a.logo {
		display:block;
		margin-top: 100px;
	}
	a.logo img {
		max-width:100%;
	}
	.slogan {
		height:38px;
		font-size:26px;
		text-align: center;
		background-color:rgba(55,55,55,0.4);
		color:@high-contrast-color;
		margin-top: 15px;
		text-transform: capitalize;
	}
	.social-links {
		margin-top: 30px;	
		overflow:hidden;
	}
	.social-links a {
		color:@high-contrast-color;
		font-size:32px;
		line-height: 1;

	}
	.social-links a:hover {
		color:#9b0506;
	}
	.social-links .link-wrapper {
		margin: 0 auto;
		width:20%;
		>div {
			width:33.3333333%;
			.float-left;
		}
	}
	a.read-more {
		border:1px solid @base-color;
		padding:10px;
		margin-top:50px;
		font-size:20px;
		color:@base-color;
		display:inline-block;
	}

	a.read-more:hover {
		color:@high-contrast-color;
		border-color:@high-contrast-color;
	}
}
