@import url("variables.less");
@import url("mixin.less");
@import url("reset.less");
@import url("opensans.less");


.main-page-landing {
	width:100%;
	background:url(../images/landing.jpg) 0 0 no-repeat;
	background-size:cover;
	text-align: center;
	height:550px;
	a.logo {
		display:block;
		margin-top: 100px;
	}
	a.logo img {
		max-width:100%;
	}
	.slogan {
		height:38px;
		font-size:26px;
		text-align: center;
		background-color:rgba(55,55,55,0.4);
		color:@high-contrast-color;
		margin-top: 15px;
		text-transform: capitalize;
	}
	.social-links {
		margin-top: 30px;	
		overflow:hidden;
	}
	.social-links a {
		color:@high-contrast-color;
		font-size:32px;
		line-height: 1;

	}
	.social-links a:hover {
		color:#9b0506;
	}
	.social-links .link-wrapper {
		margin: 0 auto;
		width:20%;
		>div {
			width:33.3333333%;
			.float-left;
		}
	}
	a.read-more {
		border:1px solid @base-color;
		padding:10px;
		margin-top:50px;
		font-size:20px;
		color:@base-color;
		display:inline-block;
	}

	a.read-more:hover {
		color:@high-contrast-color;
		border-color:@high-contrast-color;
	}
}
.header {
    >a {
    	padding:10px;
    	img {
			.max-image;
		}
    }
    .search-form {
    	display:table;
    	margin-bottom: 0;
    	vertical-align: middle;
    	>div {
    		display: table-row;
    		.container-inline {
    			display:table-cell;
    		}
    	}
    }
    .search-form .container-inline div {
    	.inline-block;
    }
    .search-form .container-inline label {
    	display:none;
    }
    .search-form .container-inline .form-item-keys {
    	width:75%;
    	position: relative;
    	&:after {
    	  content: "\f002";
		  display: inline-block;
		  font: normal normal normal 14px/1 FontAwesome;
		  font-size: inherit;
		  position:absolute;
		  right:5px;
		  top:5px;	
		  cursor:pointer
    	}
    	input.form-text {
    		width:100%;
    		border-color:@base-color;
    		border-left-style: solid;
    		border-top-style: solid;
    	}
    }
    .search-form input.form-submit {
    	.inline-block;
    	width:15%;
    	left:-15%;
    	position:relative;
    	opacity: 0;
    	.border-radius;
    	border-color:@base-color;
    	background-color:@base-color;
    	color:@high-contrast-color;
    	border:2px solid;
    	padding:2px 6px;
    	font-size: 16px;
    }
} 
#nav {
	margin-bottom: 10px;
	ul {
		.reset;
	}
	li {
		.reset;
	}
	a {
		text-decoration: none;
		color:@high-contrast-color;
	}
	min-height: 1px;
	color:@high-contrast-color;
	background-color: @gray-dark;
	.site-name {
		padding:0;
		font-size: @main-menu-font;
		line-height: :26px;
		.site-name-container {
			background-color:darken(@base-color, 10%);
			width:60%;
			font-weight:bold;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.nav-bar {
		float:right;
		font-size:@main-menu-font;
		.main-menu {
			float:right;
		}
		.main-menu>.menu {
			height:25px;
			li a.active {
				color:inherit;
			}
			>li {
				float:left;
				padding:0 15px;
				&:hover {
					background-color:@gray;
				}
			}
			li.expanded {
				position: relative;;
				.menu {
					display:none;
					position:absolute;
					font-size:@base-font-size;
					width:100%;
					z-index:@initial-z-index+1;
					left:0;
					background-color:lighten(@gray-dark, 20%);
					&:hover {
						background-color:lighten(@gray, 20%);
					}
					>li {
						&:first-child {
							border-top: none;
						}
						&:hover {
							text-decoration: underline;
						}
						border-top: @high-contrast-color 1px solid;
						line-height: 1.5;
						padding:3px 0 3px 15px;
					}
				}
			}
			li.expanded.over .menu {
				display:block;
			}
		}
	}
}

.left-sidebar .block {
	padding:10px;
	background: transparent;
	margin-bottom: 10px;
	h2 {
		.reset;
		padding:3px;
		background-color:@gray-lighter;
		.upper-border-radius(10px);
	}
	.content {
		padding:5px;
		background-color:#e7e7e7;
		.bottom-border-radius(10px);
	}
}

.content.content-wrapper {
	padding-top:10px;
}

footer.footer {
	background-color: @gray-dark;
	.foot.container {
		background-color: transparent;
		color:@high-contrast-color;
	}
	a {
		color:inherit;
	}
}