.float-left {
	float:left;
}
.float-right {
	float:right;
}
.no-display {
	display:none!important;
}
.hidden {
	visibility: hidden;
}
.inline-block {
	display:inline-block;
}
.reset {
	margin: 0;
	padding:0;
	list-style: none;
}
.max-image {
	max-width:100%;
}
.border-radius {
	border-radius:5px
}
.upper-border-radius(@value) {
	border-top-left-radius: @value;
	border-top-right-radius: @value;
}
.bottom-border-radius(@value) {
	border-bottom-left-radius: @value;
	border-bottom-right-radius: @value;
}